/node_modules

# =========================
# Next.js build output
# =========================
.next/
out/
build/

# If using static export for GitHub Pages
# (Next 13+: output: "export")
/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log
*.tsbuildinfo
next-env.d.ts
.vscode/